# Explore your data file some more
- We are continuing (from Lec 07) our work on data exploring using pandas.

In [ ]:
# importing the package(s) we want to use
import pandas as pd

In [ ]:
csvFile = 'https://raw.githubusercontent.com/csbfx/advpy122-data/master/top_movies_2020.csv'

movies = pd.read_csv(csvFile)
movies.head()

                                Title      Gross  Gross (Adjusted)  Year
0                  Gone with the Wind  200852579        1895421694  1939
1  Star Wars: Episode IV - A New Hope  460998507        1668979715  1977
2                  The Sound of Music  159287539        1335086324  1965
3          E.T. the Extra-Terrestrial  435110554        1329174791  1982
4                             Titanic  659363944        1270101626  1997

## Filtering DataFrame with string datatype

In [ ]:
### You can search for instances of a substring in a column and return rows
# Search for substring and print Title
movies[movies['Title'].str.contains("man")]['Title']

# # To convert this series to a list
man_list = movies[movies['Title'].str.contains("man")]['Title'].tolist()
man_list

['The Ten Commandments',
 'Batman',
 'Superman',
 'Wonder Woman',
 'Jumanji: Welcome to the Jungle',
 'An Officer and a Gentleman',
 'Batman Forever',
 'Pretty Woman']

### Working with the list
Once you have the list, how do you  
1. How to find out how many elements there are in your list?  
2. How to get the first 5 elements in the list?

In [ ]:
### To retrieve the number of elements in the list use len()
len(man_list)

### To retrieve the first 5 elements of the list, use a slice
# man_list[:5]

8

### Finding unique values
We can retrieve unique values to ask
1. How many times an item occurs in a column?
2. To extract out distinct obeservations elements in a column
3. To count the number of distinct obeservations in a column

In [ ]:
### To count the number of times a unique item is found in a column we can use value_count()
# movies.Title.value_counts()

### To extract out the unique values in a column using the unique() method
# movies.Title.unique()

### To quantify how many unique using the nunique() method
# movies.Title.nunique()

###Question: How many distinct movies came out in the 1990s?
You can use two approach to this  
(1) Filter out the DataFrame based on conditions of the year  
(2) Use the str approach to find all years in 1990s

In [ ]:
### Your code

In [ ]:
### (1) Filter out the DataFrame based on conditions of the year
# len(movies[(movies['Year']>=1990)&\
      #  (movies['Year']<=1999)])

### (2) Use the str approach to find all years in 1990s
# movies[movies['Year'].astype(str).str.contains("199")].Title.nunique()

### Question: How many distinct movies came out for each decade?
Can you write a for loop to iterate through all the decades?

In [ ]:
### Your code

In [ ]:
# decades=['191','192','193','194','195','196','197','198','199','200','201','202']

# count=0
# for decade in decades:
#   print(decade+str(count), movies[movies['Year'].astype(str).str.contains(decade)].Title.nunique())

### Working with string elements
We can think of string as a list of elements. In a column with string datatype, we can split the string using the split() method.

In [ ]:
### The split method takes a string and split it into a list
movies.Title.str.split()

## To extract the first element and place it into a new column, assign the new column and run split and extract first element
movies['first_word'] = movies.Title.str.split().str[0]